In [ ]:
import pandas as pd #import library

#import data

full_data = pd.read_csv('transformed_full.csv')
incremental_data = pd.read_csv('transformed_incremental.csv')

In [ ]:
#save to parquet format and in the subfolder

full_data.to_parquet('loaded_data/full_data.parquet', index=False)
incremental_data.to_parquet('loaded_data/incremental_data.parquet', index=False)

In [6]:
#preview the stored parquet

preview = pd.read_parquet('loaded_data/full_data.parquet')
preview.head()

,transaction_id,sale_date,product,quantity,price,total_price,price_category
0,TX001,2025-06-16,Headphones,3,184.17,552.51,Medium
1,TX002,2025-06-13,Phone,4,27.89,111.56,Low
2,TX003,2025-06-17,Laptop,4,498.95,1995.80,Medium
3,TX004,2025-06-14,Charger,1,187.03,187.03,Medium
4,TX005,2025-06-16,Tablet,1,372.80,372.80,Medium